<!DOCTYPE html>
<html>
<head>
	<script src="../static/echarts.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<title>Analysis</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="tabbar.css">
</head>
<body>

	<div class="w3-top">
	  <div class="w3-bar" id="myNavbar">
	    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
	      <i class="fa fa-bars"></i>
	    </a>
	    <a href="." class="w3-bar-item w3-button">HOME</a>
	    <a href="/topTen" class="w3-bar-item w3-button w3-hide-small">TopTen</a>
	    <a href="/onedish" class="w3-bar-item w3-button w3-hide-small">Timeline</a>
	    <a href="/orders" class="w3-bar-item w3-button w3-hide-small">Customer Flow</a>
	    <a href="/stock" class="w3-bar-item w3-button w3-hide-small"> Stocks </a>
	    <a href="/predict" class="w3-bar-item w3-button w3-hide-small"> Predict </a>
	  </div>
	</div>
	<br><br><br>

	<div style="display: flex; flex-direction: column; justify-content: space-around; align-items: center;">
		
		<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
		  <div class="w3-display-middle" style="white-space:nowrap;">
		    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">Customer <span class="w3-hide-small">Flow</span> Analysis</span>
		  </div>
		</div>

		<br><br><br>

		<div style="display: flex; flex-direction: row; justify-content: space-around;">

			<label style="margin-right: 20px; font-size: 20px">DATE:</label>

			<input type="date" id="date1"
				value={{date1}} 
			       min="2017-04-08" max="2019-07-30" style="margin-right: 40px">

			<button onclick="changeDate()"> Confirm </button>
			</div>


		<div id="main" style="width:800px; height:600px;"></div>
	</div>
	

	<script type="text/javascript">
		var chartDom = document.getElementById('main');
		var myChart = echarts.init(chartDom);
		var option;

		var dataAxis = [{% for item in timeLabel %}'{{ item }}',{% endfor %}]
		var data = [{% for item in ordersByTime %}'{{ item }}',{% endfor %}]

		var yMax = 500;
		var dataShadow = [];

		for (var i = 0; i < data.length; i++) {
		    dataShadow.push(yMax);
		}

		option = {
		    xAxis: {
		        data: dataAxis,
		        axisLabel: {
		            inside: true,
		            textStyle: {
		                color: '#fff'
		            }
		        },
		        axisTick: {
		            show: false
		        },
		        axisLine: {
		            show: false
		        },
		        z: 10
		    },
		    yAxis: {
		        axisLine: {
		            show: false
		        },
		        axisTick: {
		            show: false
		        },
		        axisLabel: {
		            textStyle: {
		                color: '#999'
		            }
		        }
		    },
		    dataZoom: [
		        {
		            type: 'inside'
		        }
		    ],
		    series: [
		        {
		            type: 'bar',
		            showBackground: true,
		            itemStyle: {
		                color: new echarts.graphic.LinearGradient(
		                    0, 0, 0, 1,
		                    [
		                        {offset: 0, color: '#83bff6'},
		                        {offset: 0.5, color: '#188df0'},
		                        {offset: 1, color: '#188df0'}
		                    ]
		                )
		            },
		            emphasis: {
		                itemStyle: {
		                    color: new echarts.graphic.LinearGradient(
		                        0, 0, 0, 1,
		                        [
		                            {offset: 0, color: '#2378f7'},
		                            {offset: 0.7, color: '#2378f7'},
		                            {offset: 1, color: '#83bff6'}
		                        ]
		                    )
		                }
		            },
		            data: data
		        }
		    ]
		};

		// Enable data zoom when user click bar.
		var zoomSize = 6;
		myChart.on('click', function (params) {
		    console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
		    myChart.dispatchAction({
		        type: 'dataZoom',
		        startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
		        endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
		    });
		});

		option && myChart.setOption(option);

		function changeDate(){
		    let date1 = document.getElementById("date1").value
		    window.location.href = "http://localhost:5000/orders?date1="+date1
		};

	</script>

</body>
</html>